@font-face {
  font-family: 'Lato';
}

body {
  font-family: 'Lato', helvetica, arial, sans-serif;
}

/* Remove a bootstrap thign */
p {
  margin-bottom: 0px;
}

#banner {
  background-color: #242424;
  padding-top: 10px;
  padding-bottom: 10px;
}

#banner .container {
  position: relative;
}

.intro {
  background-color: #f4f4f4;
  border-bottom: 2px solid #dbdbdb;
}

.list-of-links {
  list-style-type: none;
  padding-left: 0;
  margin-top: 13px;
}

.list-of-links li {
  padding-bottom: 5px;
}

.list-of-links .fa {
  margin-right: 2px;
  font-size: .85em;
}

h1 {
  color: #ffffff;
  font-weight: bold;
  padding-top: 10px;
}

.margin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Jump To Section */

.jump-to-section {
  background: #f4f4f4;
  font-weight: bold;
  padding: 5px 0 16px 0;
  text-align: center;
}

.jump-to-section h2 {
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
}

.jump-to-section ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.jump-to-section ul li {
  display: inline-block;
  margin: 0;
  padding: 13px 0 0px 9px;
}

 .jump-to-section ul li a {
   padding: 4px 8px;
}

.list-section hr {
  margin-bottom: 2em;
  margin-top: 1em;
  width: 90%;
}

h6.link-list-heading {
  color: rgba(145, 145, 145, 0.8);
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 20px;
  text-transform: uppercase;
}

/* List section, used for Student of Concern section */

.boxed-section {
  background: #fff;
  border: 3px solid #ffeeae;
  box-shadow: 0px 2px 1px rgba(220,220,220,1);
  margin-bottom: 40px;
  margin-top: 5px;
  padding: 0;
}

.boxed-section .section_headline {
  background: #ffeeae;
  color: #675e44;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px 0;
  padding: 10px;
  width: 100%;
}

.list-section {
  margin-top: 28px;
}

.list-section h5 {
  color: #393939;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 1em;
  margin-top: 1em;
  text-transform: uppercase;
}

.text-column-image-container {
  margin-top: 1em;
  min-height: 145px;
  text-align: center;
}

#intro-blurb {
  background-color: #242424;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);
  width: 155px;
}

#intro-blurb p {
  border-color: #686868;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: #FFF;
  font-size: 12px;
  padding: 5px;
}

#intro-blurb a {
  color: #b0b0b0;
  text-decoration: underline;
}

.intro-buttons li a {
  margin-top: 10px;
  white-space: normal;
}

#toolkit-intro {
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-center {
  text-align: center;
}

.image-height {
  margin-bottom: 10px;
  margin-top: -10px;
  min-height: 100px;
  position: relative;
  text-align: center;
}

.image-height img {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}

.text-right {
  text-align: right;
}

.inline {
  display: inline;
}

#all_tools,
.section_headline {
  color: #665d44;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 30px;
}

.like_to {
  font-size: 19px;
  font-weight: bold;
  /* temp vertical centering fix */
  padding-top: 19%;
}

.card {
  background: #fffdf8;
  border: 3px solid #ffeeae;
  box-shadow: 0px 2px 1px rgba(220,220,220,1);
  padding: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-img-top-container {
  margin-top: auto;
}

.card-img-top {
  border: 1px solid rgb(247, 216, 100);
  border-radius: 4px;
}

.card-title {
  background: #ffeeae;
  color: #675e44;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.card .buttons > p {
  margin-top: 1rem;
}

.card .buttons .fa {
  margin-right: 0.5em;
}

.logo {
  max-height: 100px;
}

.button_margin {
  margin-top: 10px;
}

.button_margin a {
  white-space: normal;
}

/* Create custom content */

.white {
  color: white;
}

#create_custom_content {
  background: #ff4536;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

#back_all_tools {
  background: #ff4536;
  border: 1px solid #ff7e71;
  border-radius: 5px;
}


/* footer area */
.external_apps {
  font-weight: bold;
  font-size: 19px;
}

#visit_external_apps {
 background: white;
 font-weight: bold;
 border: 1px solid #b0b0b0;
 padding: 9px;
 border-radius: 5px;
 font-size: 18px;
}

#pre_footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer {
  background: #242424;
  padding: 15px;
  margin-left: 0px;
  margin-right:0px;
}

#footer a {
  color: #909090;
  font-size: 14px;
  text-decoration: underline;
}

.error_msg {
  margin-top: 30px;
  min-height: 300px;
}

@media (min-width: 576px) {
  .card-deck .card {
    flex: none;
    display: block !important;
    width: 100%;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .card-deck .card {
    flex: 1 0 0%;
    display: flex !important;
    width: inherit;
  }

  .no-padding-col-right {
    padding-right: 0;
  }

  .no-padding-col-left {
    padding-left: 0;
  }
}

@media (max-width: 946px) {
  .jump-to-section h2 {
    font-size: 0.85em;
  }
  .jump-to-section ul li {
      padding: 13px 0 0px 8px;
  }
  .jump-to-section ul li a {
    font-size: 0.85em;
  }
}

@media (max-width: 767px) {
  .boxed-section {
    text-align: center;
  }
}

@media (max-width: 580px) {
  .jump-to-section h2 {
    display: block;
    margin-bottom: 0;
    padding-top: 5px;
  }
}
