<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset='utf-8'/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

	{% for css_file in theme_static_css %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('theme_static', filename='css/' + css_file ) }}">
	{% endfor %}

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script src="https://use.fontawesome.com/60e3e19420.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

	{% for js_file in theme_static_js %}
		<script type="text/javascript" src="{{ url_for('theme_static', filename='js/' + js_file ) }}"></script>
	{% endfor %}

	<title>{{ title }}</title>

</head>
<body>
	<div id="banner">
		{% include 'banner.html' %}
	</div>
	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col-md-12" id="toolkit-intro">
					<p><strong>{{ title }}</strong> is a collection of tools &amp; resources to make the online teaching experience great for you and your students.</p>
				</div>
			</div>
		</div>
	</div>

	{% block pre_content %}{% endblock %}

	<div class="container">
		{% block content %}{% endblock %}

		<div class="row" id="pre_footer">
			<div class="col-md-9 col-sm-9" style="padding-top: 10px;">
				<p class="external_apps">Looking for more? Check out all of the external apps available <i class="fa fa-chevron-right" aria-hidden="true"></i></p>
			</div>
			<div class="col-md-3 col-sm-3 text-right">
				<button id="visit_external_apps"><a href="https://www.eduappcenter.com/" target="_blank" style="color: black;">Visit External Apps</a></button>
			</div>
		</div>
	</div> <!-- /container -->

	<footer id="footer">
		{% include 'footer.html' %}
	</footer>

</body>

<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', '{{ google_analytics }}', 'auto');

// Replace the following lines with the plugins you want to use.
ga('require', 'eventTracker');
ga('require', 'outboundLinkTracker');
ga('require', 'urlChangeTracker');
//ga('require', 'eventTracker', { events:['click','mouseover'] });

ga('send', 'pageview');
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
<script async src="{{ url_for('static', filename='js/autotrack.js') }}"></script>
</html>
