<!-- LTIs -->
{% if ltis|length > 0 %}
	{% for lti_batch in ltis|batch(3) %}
	<div class="row">
		<div class="col-md-{{ lti_batch|length * 4 }}">
		<div class="card-deck-wrapper">
			<div class="card-deck">
				{% for lti in lti_batch %}
				<div class="card"  data-filter="{{lti.filter_by}}">
					<h3 class="card-title text-center">{{lti.name}}</h3>

					<div class="card-body">
						<div class="image-height">
							<div class="text-center">
								<img class="logo text-center" src={{ url_for('static', filename='img/logos/'+lti.logo) }} alt="{{lti.name}} logo" />
							</div>
						</div>

						<p class="card-text">{{lti.desc}}</p>

						<div class="text-center card-img-top-container">
							<img class="card-img-top img-fluid margin-10" src={{ url_for('static', filename='img/'+lti.screenshot) }} alt="Screenshot" />
						</div>

						<div class="buttons">
							<p class="text-center pull-left"><a class="btn btn-primary" href="{{lti.docs_url}}" ga-on="click" ga-event-category="{{lti.name}}_learn_more" ga-event-action="click" ga-event-label="{{course}}" target="_blank"><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp; Learn More</a></p>

							{% if lti.is_launchable %}
							<p class="text-center pull-right">
								<a id="{{lti.id}}" ga-on="click" ga-event-category="{{lti.name}}_launch" ga-event-action="click" ga-event-label="{{course}}"
								 class="btn btn-success launch" data-coursenav="{{lti.lti_course_navigation}}" href="#">
									<i class="fa fa-play" aria-hidden="true"></i> &nbsp; Launch</a>
							</p>
							{% endif %}
						</div>
					</div>
				</div>

				{% endfor %}
			</div>
		</div>
		</div>
	</div>
	{% endfor %}
{% else %}
	<div class="row">
		<div class="col-md-8 ml-auto">
			<p class="text-center" id="no_ltis">No LTIs available in this category.</p>
			<hr />
		</div>
	</div>
{% endif %}
