{% extends 'base.html' %}
{% block content %}

<div class="container-fluid jump-to-section">
	<h2>Jump to section:</h2>
	<ul>
		<li><a class="btn btn-outline-primary" href="#all_tools">Course Tools</a></li>
		<li><a class="btn btn-outline-primary" href="#assignment_tools">Assignment Editor Tools</a></li>
		<li><a class="btn btn-outline-primary" href="#richcontenteditor_tools">Rich Content Editor Tools</a></li>
		<li><a class="btn btn-outline-primary" href="#students_of_concern">Students of Concern Resources</a></li>
	</ul>
</div>

<div class="container">
	<!-- grid time -->
	<!-- first row -->

	<div class="row">
		<div class="col-md-8 ml-auto mr-auto">
			<h2 class="text-center section_headline" id="all_tools">Course Tools</h2>
			<hr />
		</div>
	</div>

    {% with ltis=course_tool_lti_list %}
        {% include 'lti_list.html' %}
    {% endwith %}

    <div class="row">
		<div class="col-md-8 ml-auto mr-auto">
			<h2 class="text-center section_headline" id="assignment_tools">Assignment Editor Tools</h2>
			<hr />
		</div>
	</div>

	{% with ltis=assignment_lti_list %}
        {% include 'lti_list.html' %}
    {% endwith %}

    <div class="row">
		<div class="col-md-8 ml-auto mr-auto">
			<h2 class="text-center section_headline" id="richcontenteditor_tools">Rich Content Editor Tools</h2>
			<hr />
		</div>
	</div>

    {% with ltis=rce_lti_list %}
        {% include 'lti_list.html' %}
    {% endwith %}

	<div class="row" style="margin-top: 20px;">
		<div class="col-md-8 ml-auto mr-auto">
			<hr />
		</div>
	</div>

	<div class="row test-test-test">
		<h2 class="text-center section_headline" id="students_of_concern">Students of Concern Resources</h2>

		<div class="col-md-12 ml-auto mr-auto" style="padding: 40px;">
			<p>***REMOVED***</p>

			{% include 'cares_list.html' %}
		</div>
	</div>

{% endblock content %}
<!-- Extra div is open. closed in base.html -->
