{% extends 'base.html' %}
{% block content %}

<div class="container">
	<!-- grid time -->
	<!-- first row -->
	
	<!-- 	<div class="row">
		<div class="col-md-8 ml-auto mr-auto">
			<h2 class="text-center" id="all_tools">All tools:</h2>
			<hr />
		</div>
	</div> -->

	{% if course_tool_lti_list %}
	<div class="row">
		<div class="col-md-8 ml-auto mr-auto">
			<h2 class="text-center" id="all_tools">Course Tools</h2>
			<hr />
		</div>
	</div>

    {% with ltis=course_tool_lti_list %}
        {% include 'lti_list.html' %}
    {% endwith %}
    {% endif %}

    {% if assignment_lti_list %}
    <div class="row">
		<div class="col-md-8 ml-auto mr-auto">
			<h2 class="text-center" id="all_tools">Assignment Editor Tools</h2>
			<hr />
		</div>
	</div>
	
	{% with ltis=assignment_lti_list %}
        {% include 'lti_list.html' %}
    {% endwith %}
    {% endif %}

	{% if rce_lti_list %}
    <div class="row">
		<div class="col-md-8 ml-auto mr-auto">
			<h2 class="text-center" id="all_tools">Rich Content Editor Tools</h2>
			<hr />
		</div>
	</div>

    
    {% with ltis=rce_lti_list %}
        {% include 'lti_list.html' %}
    {% endwith %}
    {% endif %}

{% endblock content %}
<!-- Extra div is open. closed in base.html -->
