<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript">
	  		// $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
		<meta charset='utf-8'/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">


		<title>UCF Course Toolkit</title>
	</head>

<div id="banner">
	<div class="container">
		<div class="row">
			<div class="col-md-1 col-sm-1"></div>
			<div class="col-md-5 col-sm-5">
				<!-- <h1><img src="" alt="UCF Course Toolkit" /></h1> -->
				<h1><span class="gold">UCF</span> Course Toolkit</h1>
			</div>
			<div class="col-md-2 col-sm-2"></div>
			<div class="col-md-2 col-sm-2" id="intro-blurb">
				<p>Want to make your online course amazing? Learn the toolkit &amp; more at IDL6543...</p>
			</div>
			<div class="col-md-2 col-sm-2"></div>
		</div>
	</div>
</div>
<div class="intro">
	<div class="container">
		<div class="row">
			<div class="col-md-1 col-sm-1"></div>
			<div class="col-md-10" id="toolkit-intro">
				<p><strong>UCF Course Toolkit</strong> is a colleciton of tools &amp; resources to make the online teaching experience great for you and your students. Here are some options for what you can do with the toolkit:</p>
			</div>
			<div class="col-md-1 col-sm-1"></div>
		</div>
	</div>
</div>

{% block content %} {% endblock %}

	<div class="row" id="pre_footer">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-7 col-sm-7" style="padding-top: 10px;">
			<p class="external_apps">Looking for more tools? Check out all of the external apps available <span>></span></p>
		</div>
		<div class="col-md-3 col-sm-3">
			<button id="visit_external_apps">Visit External Apps</button>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div> <!-- extra div closes container -->
	<div class="row" id="footer">
		<div class="col-md-2 col-sm-2"></div>
		<div class="col-md-3 col-sm-3">
			<img src="{{ url_for('static', filename='img/***REMOVED***') }}" alt="Center for Distributed Learning" />
		</div>
		<div class="col-md-2 col-sm-2"></div>
		<div class="col-md-3 col-sm-3 text-right">
			<a href="">Learn more about this page</a>
			<br />
			<a href="">Interested in collborating or adding something here? Contact us!</a>
		</div>
		<div class="col-md-2 col-sm-2"></div>
	</div>
	
