<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset='utf-8'/>
	<script type="text/javascript">
			// $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>


		<title>UCF Course Toolkit</title>
	  </head>

	  <div id="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-5">
					<h1><span class="gold">UCF</span> Course Toolkit</h1>
				</div>
				<div class="col-md-2 col-sm-2 offset-md-5" id="intro-blurb">
					<p>Want to make your online course amazing? Learn the toolkit &amp; more at <a href="https://***REMOVED***/" target="_blank">IDL6543...</a></p>
				</div>
			</div>
		</div>
	  </div>
	  <div class="intro">
		<div class="container">
			<div class="row">
				<div class="col-md-12" id="toolkit-intro">
					<p><strong>UCF Course Toolkit</strong> is a colleciton of tools &amp; resources to make the online teaching experience great for you and your students.</p>
					<p>Here are some options for what you can do with the toolkit:</p>
				</div>
			</div>
		</div>
	  </div>

	  {% block content %} {% endblock %}

	  <div class="container" id="pre_footer">
		<div class="col-md-9 col-sm-9" style="padding-top: 10px;">
			<p class="external_apps">Looking for more tools? Check out all of the external apps available <span>></span></p>
		</div>
		<div class="col-md-3 col-sm-3 text-right">
			<button id="visit_external_apps"><a href="https://www.eduappcenter.com/" target="_blank" style="color: black;">Visit External Apps</a></button>
		</div>
	  </div>
	</div> <!-- extra div closes container -->
	<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<img src="{{ url_for('static', filename='img/***REMOVED***') }}" alt="Center for Distributed Learning" />
			</div>
			<div class="col-sm-7 text-right offset-sm-2">
				<a href="https://***REMOVED***/" target="_blank">Learn more about this page</a>
				<br />
				<a href="https://***REMOVED***" target="_blank">Interested in collborating or adding something here? Contact us!</a>
			</div>
		</div>
	</div>
	</footer>
	
