{% extends 'base.html' %}
{% block content %}

<div class="intro">
	<div class="container">

		<div class="row">
			<div class="col-md-3">
				<p class="like_to">I would like to...</p>
			</div>
			<div class="col-md-4 offset-md-1" id="button_set_left">
				<nav>
					<ul class="list-inline intro-buttons">
						<li><a href="#" data-filter="all" id="custom_content" class="btn btn-danger btn-block">Show all tools</a></li>
						<li><a href="#" data-filter="content" id="find_content" class="btn btn-danger btn-block">Find content to add</a></li>
						<li><a href="#" data-filter="certify" id="certify_students" class="btn btn-danger btn-block">Certify student assessments</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-md-4" id="button_set_right">
				<nav>
					<ul class="list-inline intro-buttons">
						<li><a href="#" data-filter="accessible" id="make_accessible" class="btn btn-danger btn-block">Make my course accessible</a></li>
						<li><a href="#" data-filter="extend" id="extend_quiz" class="btn btn-danger btn-block">Extend close dates for quizzes</a></li>
						<li><a href="#" data-filter="photos" id="search_student" class="btn btn-danger btn-block">Search student photos</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<!-- grid time -->
	<!-- first row -->
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<h2 class="text-center" id="all_tools">All tools:</h2>
			<hr />
		</div>
	</div>

	<!-- LTIs -->
	{% for lti_batch in ltis|batch(3) %}
	<div class="row">
		<div class="col-md-12">
		<div class="card-deck-wrapper">
			<div class="card-deck">
			{% for lti in lti_batch %}
				<div class="card" data-filter="{{lti.filter_by}}">
				<h3 class="card-title text-center">{{lti.heading}}</h3>
					<div class="container text-center">
					<p class="text-center margin-20"><a class="btn btn-primary" href="{{lti.sessionless_launch_url}}">Launch {{ lti.name }}</a></p>
					<img class="card-img-top img-fluid margin-10" src={{ url_for('static', filename='img/'+lti.screenshot) }} alt="Screenshot" />
					</div>

					<div class="card-block">
						<img class="img-fluid thumbnail" src={{ url_for('static', filename='img/'+lti.logo) }} alt="{{lti.name}} logo" />
						<p class="card-text">{{lti.desc}}</p>
						<br style="clear: both;" />
					</div>
				</div>

				{% endfor %}
			</div>
		</div>
		</div>
	</div>

	{% endfor %}
	{% endblock content %}